@charset "utf-8";

@import "styles/fonts/iranyekan/css/fontiran.css";

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: iranyekan, sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #f7f7f7;
	color: #a5a5a5;
}

body * {
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

input:focus {
	box-shadow: none !important;

}

select {
	-webkit-appearance: none;
}

.categories-select {
	-webkit-appearance: none;
	padding: .375rem 1.5rem .375rem .4rem;
    line-height: 1.5;
    color: rgb(136, 136, 136);
    background: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%238C98F2'><polygon points='0,0 100,0 50,50'/></svg>") left .5rem top .75rem no-repeat #fff;
    background-size: auto;
    background-size: 8px 10px;
    font-size: 11px;
    border: none;
    appearance: none;
    border-radius: 6px;
    background-color: rgb(0, 0, 0, 0.031);
	cursor: pointer;
	outline: none;
}

.persian {
	direction: rtl;
	text-align: right;
}

.persian *:not(.fa) {
	font-family: iranyekan !important
}

div {
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin-bottom: 0px;
}

p {
	/* text-align: justify; */
	font-family: iranyekan, sans-serif;
	font-size: 14px;
	line-height: 1.45;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a {
	display: inline;
	position: relative;
	color: #719ec4;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

a,
a:hover,
a:visited,
a:active,
a:link {
	text-decoration: none;
}

p a:active {
	position: relative;
}

p a:hover {
	color: #91b5d3;
}

p a:hover::after {
	opacity: 0.2;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.trans_200 {
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.trans_300 {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.trans_400 {
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.trans_500 {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

/*********************************
Header
*********************************/

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.header_content {
	height: 106px;
	width: 100%;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.header.scrolled .main_nav ul li a:hover,
.header.scrolled .main_nav span a:hover {
	color: rgb(216, 214, 214);
}

.header.scrolled {
	background: rgb(208, 0, 0);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.header.scrolled .header_content {
	height: 80px;
}

.header.scrolled .main_nav .login {
	border-radius: 3px;
	color: rgb(228, 0, 0);
	background-color: rgb(255, 255, 255);
	width: 80px;
	height: 30px;
	padding: 5px 30px;
}

.header.scrolled .main_nav .login:hover {
	border-radius: 3px;
	color: rgb(223, 67, 67);
	background-color: rgb(255, 255, 255);
	width: 80px;
	height: 30px;
	padding: 5px 30px;
}

.lang-menu {
	color: rgb(255, 255, 255) !important;
	padding: .375rem 0 .375rem .4rem;
    line-height: 1.5;
    background: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='white'><polygon points='0,0 100,0 50,50'/></svg>") left 0 top 1.1rem no-repeat #fff;
    background-size: auto;
    background-size: 8px 10px;
    font-size: 17px;
    border: none;
    appearance: none;
    border-radius: 6px;
    background-color: transparent;
	cursor: pointer;
	outline: none;
}

.lang-menu:focus {
	box-shadow: none !important;
}

.lang-menu .lang-menu-option {
	color: rgb(0, 0, 0) !important;
	padding: 10px !important;
}


/*********************************
Logo
*********************************/

.logo img {
	width: 200px;
	height: auto;
}

/*********************************
Main Navigation
*********************************/

.main_nav ul li {
	display: inline-block;

}

.main_nav ul li a,
.main_nav span a {
	font-family: iranyekan, sans-serif;
	font-size: 14px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.65;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.main_nav ul li a:hover,
.main_nav span a:hover {
	font-size: 16px;
	color: rgb(228, 0, 0);
	font-weight: bold;
	line-height: 1.65;
}

.main_nav .login {
	border-radius: 3px;
	background-color: rgb(228, 0, 0);
	width: 80px;
	height: 30px;
	padding: 5px 30px;
}

.main_nav .login:hover {
	color: rgb(231, 231, 231);
	background-color: rgb(206, 3, 3);
}

/*********************************
Hamburger
*********************************/

.hamburger {
	display: none;
	cursor: pointer;
}

.hamburger i {
	font-size: 20px;
	color: rgba(255, 255, 255, 1);
}

.hamburger:hover i {
	color: rgba(255, 255, 255, 0.5);
}

/*********************************
Menu
*********************************/

.menu {
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100vh;
	background: #FFFFFF;
	z-index: 101;
	padding-right: 50px;
	padding-top: 50px;
	padding-left: 50px;
}

.menu .logo a {
	color: #000000;
}

.menu.active {
	right: 0;
}

.menu_close_container {
	position: absolute;
	top: 20px;
	right: 30px;
	width: 18px;
	height: 18px;
	transform-origin: center center;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	cursor: pointer;
}

.menu_close {
	width: 100%;
	height: 100%;
	transform-style: preserve-3D;
}

.menu_close div {
	width: 100%;
	height: 2px;
	background: #232323;
	top: 8px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.menu_close div:last-of-type {
	-webkit-transform: rotate(90deg) translateX(-2px);
	-moz-transform: rotate(90deg) translateX(-2px);
	-ms-transform: rotate(90deg) translateX(-2px);
	-o-transform: rotate(90deg) translateX(-2px);
	transform: rotate(90deg) translateX(-2px);
	transform-origin: center;
}

.menu_close:hover div {
	background: #937c6f;
}

.menu_nav ul li {
	margin-bottom: 11px;
}

.menu_nav ul li a {
	font-family: iranyekan, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	color: #6d6d6d;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.menu_nav ul li a.login,
.menu_nav ul li a.register {
	color: rgb(208, 0, 0);
	font-weight: bold;
}

.menu_nav ul li a:hover {
	color: #937c6f;
}

.menu_nav .lang-menu {
	color: black !important;
	border: 1px solid #6d6d6d !important;
	padding: 0 10px !important;
}

.menu .search {
	width: 100%;
	margin-bottom: 67px;
}


form .btn-search {
	height: 40px;
	padding: 0 15px;
	background: #971d1e;
	white-space: nowrap;
	border-radius: 3px;
	font-size: 16px;
	color: #fff;
	border: 0;
	cursor: pointer;
	font-weight: 400;
	margin-left: 10px;
}

form .btn-search:hover {
	background: #f9293a;
}

form {
	width: 100%;
	max-width: 914px;
	margin: 0;
}


form .inner-form {
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

form .inner-form .input-wrap {
	background: #fff;
	height: 40px;
	position: relative;
	-ms-flex-positive: 1;
	flex-grow: 1;
	border-radius: 3px 0 0 3px;
}


form .inner-form .input-wrap .input-field input {
	font-size: 16px;
	color: #333;
	background: transparent;
	width: 100%;
	border: 1px solid #971d1e;
	border-radius: 3px;
	padding: 7px 0;
}

form .inner-form .input-wrap .input-field input.placeholder {
	color: #808080;
}

form .inner-form .input-wrap .input-field input:-moz-placeholder {
	color: #808080;
}

form .inner-form .input-wrap .input-field input::-webkit-input-placeholder {
	color: #808080;
}

form .inner-form .input-wrap .input-field input.hover,
form .inner-form .input-wrap .input-field input:focus {
	box-shadow: none;
	outline: 0;
}



.search {
	display: inline-block;
	width: 400px;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}

.badge {
	font-size: 100% !important;
	opacity: 0.8;
}

.circle-of-date {
	position: absolute;
	left: 25px;
	top: 25px;
	width: 71px;
	height: 71px;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
}

.date-of-post {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.6);
	line-height: 1;
	text-align: center;
}

/*********************************
Home
*********************************/

.home {
	width: 100%;
	height: 40vh;
}

.home_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.home_content {
	position: absolute;
	top: 52%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-width: 575px;
	text-align: center;
}

.header-red-section {
	position: absolute;
	bottom: 0;
	background-color: rgba(239, 25, 0, 0.8);
	height: 105px;
}

.archive-page-title {
	font-size: 23px;
	color: rgb(255, 255, 255);
	font-weight: bold;
}

.route-span a {
	font-size: 14px;
	color: rgb(255, 255, 255);
	text-align: right;
}

.post_detail {
	background-color: rgb(255, 255, 255);
}

.author-image {
	border-radius: 50%;
	background-color: rgb(243, 243, 243);
	width: 60px;
	height: 60px;
}

.post_detail .author,
.post_detail .category,
.post_detail .detail-date-section,
.post_detail .comments {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.post_detail .author .author-name a,
.post_detail .category .category-name,
.post_detail .category .category-name .category-name__text,
.post_detail .detail-date-section .detail-date,
.post_detail .comments .number-of-comments {
	color: #000000;
}


.post_detail .comments .comment-icon {
	fill: rgb(0, 0, 0);
	opacity: 0.4;
	width: 15px;
	height: 10px;
}

.post_share span {
	font-family: iranyekan, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.2);
	letter-spacing: 0.075em;
	font-weight: 700;
}

.post_share_list {
	display: inline-block;
}

.post_share_item {
	display: inline-block;
}

.post_share_item:not(:last-child) {
	margin-right: 15px;
}

.post_share_item a i {
	font-size: 14px;
}

.post_body {
	height: 100%;
	/* padding-left: 69px;
	padding-right: 68px; */
	padding-bottom: 45px;
	background: #FFFFFF;
	border-radius: 10px;
}

.social_medias {
	border-width: 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.12);
	border-radius: 50%;
	width: 62px;
	height: 62px;
}

.social_medias:hover {
	background-color: rgb(228, 0, 0);
	cursor: pointer;
}

.facebook,
.telegram,
.linkedin,
.twitter {
	fill: rgb(137, 142, 154);
	width: 16px;
	height: 16px;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

.social_medias:hover .facebook,
.social_medias:hover .telegram,
.social_medias:hover .linkedin,
.social_medias:hover .twitter {
	fill: rgb(255, 255, 255);
}


.post_content {
	text-align: justify;
	font-size: 16px;
	line-height: 2;
	color: black
}

.post_content p {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.7);
	line-height: 1.625;
}

.post_content h1,
.post_content h2,
.post_content h3,
.post_content h4,
.post_content h5,
.post_content h6 {
	color: rgb(88, 87, 87);
	font-weight: 800;
	line-height: 1.265;
	margin: 30px 0 10px 0;
}

.post_content h1 {
	font-size: 32px
}

.post_content h2 {
	font-size: 28px
}

.post_content h3 {
	font-size: 26px
}

.post_content h4 {
	font-size: 24px
}

.post_content h5 {
	font-size: 22px
}

.post_content h6 {
	font-size: 20px
}

.post_content blockquote {
	font-size: 22px;
	color: rgba(0, 0, 0, 0.6);
	line-height: 1.364;
	border-right: 10px solid rgb(228, 0, 0);
	margin: 35px;
	padding: 10px 20px;
}

.post_content ol {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.702);
	line-height: 1.625;
	margin: 20px 0;
	list-style: urdu;
}

.post_content ul {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.7);
	line-height: 1.625;
	list-style: unset;
	margin: 20px 0;
	padding: 0 20px;
}

.post_quote .post_content {
	font-weight: 600;
	font-size: 16px;
}

.post_quote_source {
	font-size: 16px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.5);
	margin-top: 21px;
}

.tags_share {
	margin-top: 40px;
}


.post_tag {
	display: inline-block;
	width: auto;
	border: solid 1px #d7d7d7;
	border-radius: 3px;
	background: transparent;
	margin-bottom: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	margin-right: 6px;
}

.post_tag a {
	display: block;
	line-height: 22px;
	font-family: iranyekan, sans-serif;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	color: rgba(0, 0, 0, 0.5);
	font-weight: 500;
}

.post_tag:hover {
	background: #ededed;
	border-color: #ededed;
}

.post_tag:hover {
	background: rgb(218, 216, 216);
	border-color: rgb(218, 216, 216);
}



/*********************************
Home Slider
*********************************/

.home_slider_container {
	width: 100%;
	height: 100%;
}


.home_slider_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

/*********************************
Main Content
*********************************/

.page_content {
	background: #f9f9f9;
}

.single_page_content {
	background: #ffffff;
}

/*********************************
Section Panel
*********************************/

.section_panel {
	z-index: 10;
}

.section_panel span {
	font-family: iranyekan, sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #000000;
	padding-bottom: 10px;
	white-space: nowrap;
	-webkit-transform: translateY(3px);
	-moz-transform: translateY(3px);
	-ms-transform: translateY(3px);
	-o-transform: translateY(3px);
	transform: translateY(3px);
}

.category_title {
	font-family: iranyekan, sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #000000;
	padding-bottom: 10px;
	white-space: nowrap;
	-webkit-transform: translateY(3px);
	-moz-transform: translateY(3px);
	-ms-transform: translateY(3px);
	-o-transform: translateY(3px);
	transform: translateY(3px);
}

.section_tags ul li {
	display: inline-block;
	width: auto;
	height: 28px;
	text-align: center;
}

.section_tags ul li:not(:last-child) {
	margin-right: 4px;
}

.section_tags ul li a {
	display: block;
	line-height: 28px;
	font-family: iranyekan, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	letter-spacing: 0.025em;
	padding: 0 10px
}

.section_tags ul li:hover,
.section_tags ul li.active {
	background-color: rgb(208, 0, 0);
	border-radius: 2px;
}

.section_tags ul li.active a {
	color: rgb(255, 255, 255);
}

.section_tags ul li:hover a {
	color: rgb(255, 255, 255);
}

.section_panel_more>ul {
	position: absolute;
	padding: 15px;
	background: #FFFFFF;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.section_panel_more:hover>ul {
	visibility: visible;
	opacity: 1;
}

.section_panel_more>ul li:not(:last-child) {
	margin-bottom: 10px;
}

.section_panel_more>ul li a {
	font-family: iranyekan, sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	letter-spacing: 0.025em;
	white-space: nowrap;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.section_panel_more>ul li a:hover {
	color: rgba(0, 0, 0, 0.8);
}

.search-in-tag-section .search-input {
	height: 55px;
	border: none !important;
	background-color: rgb(250, 250, 250);
}

.search-in-tag-section .search-icon {
	fill: #d4d4d4;
	position: absolute;
	left: 30px;
	top: 16px;
}

.search-in-tag-section .search-icon:hover {
	cursor: pointer;
}

.filter-and-search-container {
	background-color: rgb(255, 255, 255);
}

/*********************************
Side bar
*********************************/

.side_bar_single {
	height: 100%;
	position: sticky;
	position: -webkit-sticky;
	top: 150px;
	padding: 0;
}

/*********************************
Post Comment
*********************************/
.comment_section {
	background-color: rgb(251, 251, 251);
}

.comment_body {
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	box-shadow: 7.5px 12.99px 60px 0px rgba(0, 0, 0, 0.04);
}

.leave-comment {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.leave-comment-title::before {
	background-color: rgb(228, 0, 0);
	width: 358px;
	height: 10px;
	content: '';
}

.leave-comment-title {
	font-size: 30px;
	color: rgba(0, 0, 0, 0.6);
	font-weight: bold;
	line-height: 1.167;
}

.leave-comment-text {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.4);
	line-height: 1.571;
	text-align: right;
}

.comment-textarea {
	border-radius: 5px !important;
	background-color: rgb(255, 255, 255) !important;
	box-shadow: 8px 13px 60px 0px rgba(0, 0, 0, 0.04) !important;
	border-color: rgba(0, 0, 0, 0.06);
	padding: 20px 15px !important;
}

.comment-inputs {
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.06);
	border-radius: 5px;
	height: 50px;
	font-size: 16px !important;
	color: rgba(0, 0, 0, 0.4) !important;
	line-height: 1.2 !important;
}

.comment-inputs:focus,
.comment-textarea:focus {
	border-color: rgba(0, 0, 0, 0.06);
}

.comment-btn {
	border-radius: 5px;
	background-color: rgb(228, 0, 0);
	width: 200px;
	height: 45px;
	font-size: 18px;
	color: rgb(255, 255, 255);
	line-height: 1.2;
}

.comment-btn:hover {
	cursor: pointer;
	background-color: rgb(197, 27, 27);
}

.leave-comment-title::before {
	content: '';
	position: relative;
	display: block;
	background-color: rgb(228, 0, 0);
	width: 100%;
	height: 10px;
	top: -25px;
	right: -39px;
	border-radius: 0 5px 0 0;
}

.number-of-users-comments {
	font-size: 100px;
	color: rgba(93, 92, 92, 0.4);
}

.users-comments-title {
	font-size: 30px;
	color: rgb(93, 92, 92);
	font-weight: 800;
	line-height: 1.167;
}

.users-comments-title-box {
	border-top: 10px solid rgb(255, 137, 1);
}

.comment-of-user-box {
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.06);
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
}

.name-of-user-in-comment-box {
	font-size: 16px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
}

.comment-of-user-in-comment-box {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.4);
	line-height: 1.625;
}

.comment-of-user-content-div {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.comment-of-user-box .date-and-reply {
	display: flex;
	justify-content: space-between;
}

.reply:hover {
	cursor: pointer;
}

.reply .reply-left-arrow {
	background-color: rgb(0, 0, 0);
	opacity: 0.302;
	width: 5px;
	height: 9px;
}


/*********************************
Cards
*********************************/

.card {
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.06);
	background-color: rgb(255, 255, 255);
	border-radius: 6px;
	margin-top: 15px;
	height: 100%;
}

.card-body {
	text-align: justify;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.card-body-p {
	text-align: justify;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
}

.card-img-top {
	height: 316px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
}

.post_meta {
	display: block;
	font-family: iranyekan, sans-serif;
	color: rgba(0, 0, 0, 0.4);
	font-size: 12px;
	font-weight: 500;
	margin-top: 22px;
	margin-bottom: 22px;
}

.post_meta a,
.post_meta .post_meta-date-and-time {
	font-size: 10px;
	color: rgb(143, 143, 143);
	line-height: 1.2;
	display: inline-block;
}

.card-body-title {
	font-size: 23px;
	color: rgb(91, 91, 91);
	font-weight: 800;
}

.card:hover .card-body-title {
	color: rgb(228, 0, 0);
}

.card:hover .circle-of-date {
	background-color: rgb(228, 0, 0);
}

.card:hover .circle-of-date .date-of-post {
	color: rgb(255, 255, 255);
}

.card-body-more-info {
	border-bottom: 1px solid rgb(234, 234, 234);
}

.more-info {
	font-size: 12px;
	color: rgb(63, 63, 63);
	line-height: 1.333;
}

.more-info:hover {
	color: rgb(104, 103, 103);
}

.right-more-info {
	width: 14px;
	height: 15px;
	transform: rotate(180deg);
	fill: rgb(228, 0, 0);
}

.more-info {
	cursor: pointer;
}



/*********************************
8. Load More Button
*********************************/

.load_more {
	margin-top: 50px;
	margin-bottom: 140px;
}

.load_more_button {
	width: 118px;
	height: 36px;
	background: transparent;
	border: solid 1px #d7d7d7;
	border-radius: 18px;
	margin: 0 auto;
	line-height: 32px;
	font-family: iranyekan, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.load_more_button:hover {
	background: #d7d7d7;
}

/*********************************
Pagination
*********************************/
.pagination {
	direction: ltr;
	display: flex;
	align-items: center;
}

.nav-links {
	display: flex;
	align-items: center;
}

.page-numbers {
	border: none !important;
	background: transparent !important;
	font-size: 16px !important;
	color: rgb(161, 161, 161) !important;
	width: 32px !important;
	height: 32px !important;
	text-align: center !important;
	padding: 3px 10px !important;
	border-radius: 50% !important;
	margin: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.page-numbers.current {
	background-color: rgb(208, 0, 0) !important;
	color: rgb(255, 255, 255) !important;
}

.page-numbers:hover {
	background-color: rgb(208, 0, 0) !important;
	color: rgb(255, 255, 255) !important;
}

.page-numbers:hover.next,
.page-numbers:hover.prev {
	color: rgb(208, 0, 0) !important;
	background: transparent !important;
}

.screen-reader-text {
	display: none;
}


/*********************************
Footer
*********************************/
.footer-left .logo-in-footer {
	height: 65px;
	width: 260px;
}

.footer {
	background-color: rgb(40, 40, 40);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 40px 30px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
	display: inline-block;
	vertical-align: top;
}

.persian .footer .footer-left,
.persian .footer .footer-center,
.persian .footer .footer-right {
	text-align: right;
}

/* Footer left */


/* The company logo */

.footer h3 {
	color: #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer h3 span {
	color: #5383d3;
}

/* Footer links */

.footer .footer-links {
	color: #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer .footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
}


.phone-keyboard {
	fill: rgb(208, 0, 0);
	width: 20px;
	height: 20px;
}

.veresk-phone-number {
	font-size: 14px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.2;
}

.at-sign {
	fill: rgb(208, 0, 0);
	width: 16px;
	height: 16px;
}

.support-email {
	font-size: 14px;
	color: rgb(255, 255, 255);
	line-height: 1.2;
}

.support-email:hover {
	color: rgb(255, 255, 255);
}

.header-in-footer-columns {
	font-size: 18px;
	color: rgb(208, 0, 0);
	font-weight: bold;
	line-height: 1.2;
}

.header-in-footer-columns ul {
	padding: 0;
}

.footer .main-menu-item li span {
	font-size: 13px;
	color: #9f9f9f;
	line-height: 1.75;
	list-style: none !important;
}

.footer .main-menu-item:hover {
	cursor: pointer;
}

.footer .header-in-footer-columns ul a li {
	display: flex;
	align-items: center;
}

.footer .header-in-footer-columns ul a li:hover {
	cursor: pointer;
}

.right-arrow {
	fill: rgb(124, 124, 124);
	width: 6px;
	height: 6px;
	margin-bottom: 2px;
}

.footer .main-menu-item:hover .right-arrow {
	fill: rgb(208, 0, 0);
}

.footer .main-menu-item:hover span {
	color: rgb(255, 255, 255);
}


/* Footer Center */

.footer .footer-center i {
	background-color: #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}

.footer .footer-center p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin: 0;
}

.footer .footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}

.footer .footer-center p a {
	color: #5383d3;
	text-decoration: none;
}

/* Footer Right */

.footer .footer-company-about {
	font-weight: normal;
	margin: 0;
	font-size: 15px;
	color: #9f9f9f;
	line-height: 1.375;
}

.footer .footer-company-about span {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer .footer-icons {
	margin-top: 35px;
	text-align: center;
}

.footer .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 2px;
	font-size: 18px;
	text-align: center;
	line-height: 43px;
	margin-right: 3px;
	margin-bottom: 5px;
	color: rgba(255, 255, 255, 0.102);
}

.footer .footer-icons a:hover {
	color: rgba(255, 255, 255, 1);
}

.footer .input {
	position: relative;
	width: 100%;
}

.footer .input .label {
	position: absolute;
	top: 25px;
	font-size: 14px;
	font-weight: normal;
	color: white;
	transform-origin: 0 0;
	transition: all .5s ease;
}

.footer .input .send-icon {
	position: absolute;
	top: 15px;
	right: 0;
	transform-origin: 0 0;
	transition: all .5s ease;
}

.footer .input .send-icon:hover {
	cursor: pointer;
}

.send-icon .fa-envelope {
	font-size: 17px;
	color: #d00000;
}

.footer .input .border {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
	background: white;
	transform: scaleX(0);
	transform-origin: 0 0;
	transition: all 0.15s ease;
}

.footer .input input {
	direction: ltr;
	-webkit-appearance: none;
	width: 100%;
	border: 0;
	font-family: iranyekan, sans-serif;
	padding: 12px 0;
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	font-weight: 500;
	border-bottom: 2px solid rgba(240, 239, 244, 0.102);
	background: none;
	border-radius: 0;
	box-shadow: none;
	color: white;
	transition: all 0.15s ease;
}

.footer div.input .border {
	bottom: 6px
}


.footer .input input:focus {
	background: none;
	outline: none;
}

.footer label {
	line-height: 0;
}

.footer label::after {
	content: none;
}

hr {
	border: 1px solid #3e3e3e;
	width: 100%;
}

.footer-bottom> :first-child {
	color: rgba(255, 255, 255, .4)
}

.footer-bottom> :last-child {
	color: #484848;
}

.right-arrow {
	transform: rotate(180deg);
}

.post_body img {
	max-width: 100%;
	height: auto
}