@charset "utf-8";

@import "styles/fonts/ubuntu/css/ubuntu.css";
@import "styles/fonts/iranyekan/css/fontiran.css";

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #f7f7f7;
	color: #a5a5a5;
}

html {
	scroll-behavior: smooth;
}

.persian {
	direction: rtl;
	text-align: right;
}

.persian *:not(.fa) {
	font-family: IRANYekan !important
}

div {
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin-bottom: 0px;
}

p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	line-height: 1.45;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.5);
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a {
	display: inline;
	position: relative;
	color: inherit;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

a,
a:hover,
a:visited,
a:active,
a:link {
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a:active {
	position: relative;
}

p a:hover {
	color: #FFFFFF;
}

p a:hover::after {
	opacity: 0.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.trans_200 {
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.trans_300 {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.trans_400 {
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.trans_500 {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

/*********************************
Header
*********************************/

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.header_content {
	height: 106px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.header.scrolled {
	background: rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.header.scrolled .header_content {
	height: 80px;
}

.header select {
	border-color: #fff;
	font-weight: 700;
	text-align: left;
	direction: ltr;
}


/*********************************
Logo
*********************************/

.logo img {
	width: 200px;
	height: auto;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.075em;
}

/*********************************
Main Navigation
*********************************/

.main_nav ul li {
	display: inline-block;
}

.main_nav ul li a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.5);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.main_nav ul li a:hover,
.main_nav ul li.active a {
	color: rgba(255, 255, 255, 1);
}

/*********************************
Hamburger
*********************************/

.hamburger {
	display: none;
	cursor: pointer;
}

.hamburger i {
	font-size: 20px;
	color: rgba(255, 255, 255, 1);
}

.hamburger:hover i {
	color: rgba(255, 255, 255, 0.5);
}

/*********************************
Menu
*********************************/

.menu {
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100vh;
	background: #FFFFFF;
	z-index: 101;
	padding-right: 60px;
	padding-top: 87px;
	padding-left: 50px;
}

.menu .logo a {
	color: #000000;
}

.menu.active {
	right: 0;
}

.menu_close_container {
	position: absolute;
	top: 30px;
	right: 60px;
	width: 18px;
	height: 18px;
	transform-origin: center center;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	cursor: pointer;
}

.menu_close {
	width: 100%;
	height: 100%;
	transform-style: preserve-3D;
}

.menu_close div {
	width: 100%;
	height: 2px;
	background: #232323;
	top: 8px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.menu_close div:last-of-type {
	-webkit-transform: rotate(90deg) translateX(-2px);
	-moz-transform: rotate(90deg) translateX(-2px);
	-ms-transform: rotate(90deg) translateX(-2px);
	-o-transform: rotate(90deg) translateX(-2px);
	transform: rotate(90deg) translateX(-2px);
	transform-origin: center;
}

.menu_close:hover div {
	background: #937c6f;
}

.menu .logo {
	margin-bottom: 60px;
}

.menu_nav ul li {
	margin-bottom: 11px;
}

.menu_nav ul li a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 1);
	font-weight: 700;
	letter-spacing: 0.1em;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.menu_nav ul li a:hover {
	color: #937c6f;
}

.menu .search {
	width: 100%;
	margin-bottom: 67px;
}


form .btn-search {
	height: 40px;
	padding: 0 15px;
	background: #971d1e;
	white-space: nowrap;
	border-radius: 3px;
	font-size: 16px;
	color: #fff;
	border: 0;
	cursor: pointer;
	font-weight: 400;
	margin-left: 10px;
}

form .btn-search:hover {
	background: #f9293a;
}

form {
	width: 100%;
	max-width: 914px;
	margin: 0;
}


form .inner-form {
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

form .inner-form .input-wrap {
	background: #fff;
	height: 40px;
	position: relative;
	-ms-flex-positive: 1;
	flex-grow: 1;
	border-radius: 3px 0 0 3px;
}


form .inner-form .input-wrap .input-field input {
	font-size: 16px;
	color: #333;
	background: transparent;
	width: 100%;
	border: 1px solid #971d1e;
	border-radius: 3px;
	padding: 7px 0;
}

form .inner-form .input-wrap .input-field input.placeholder {
	color: #808080;
}

form .inner-form .input-wrap .input-field input:-moz-placeholder {
	color: #808080;
}

form .inner-form .input-wrap .input-field input::-webkit-input-placeholder {
	color: #808080;
}

form .inner-form .input-wrap .input-field input.hover,
form .inner-form .input-wrap .input-field input:focus {
	box-shadow: none;
	outline: 0;
}



.search {
	display: inline-block;
	width: 400px;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}

.menu .header_search_input {
	width: 100%;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	color: rgba(0, 0, 0, 0.5);
}

.menu .header_search_input::-webkit-input-placeholder {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: rgba(0, 0, 0, 0.4) !important;
}

.menu .header_search_input:-moz-placeholder {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: rgba(0, 0, 0, 0.4) !important;
}

.badge {
	font-size: 100% !important;
	opacity: 0.8;
}

.badge-a-tag {
	position: absolute;
	left: 6px;
}

.menu .header_search_input::-moz-placeholder {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: rgba(0, 0, 0, 0.4) !important;
}

.menu .header_search_input:-ms-input-placeholder {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: rgba(0, 0, 0, 0.4) !important;
}

.menu .header_search_input::input-placeholder {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: rgba(0, 0, 0, 0.4) !important;
}

/*********************************
Home
*********************************/

.home {
	width: 100%;
	height: 85vh;
}

.post_title {
	font-size: 50px;
	line-height: 1.2;
	color: #FFFFFF;
	font-weight: 600;
	margin-top: 19px;
	position: absolute;
	top: 52%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-width: 575px;
	text-align: center;
}

.home_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.home_content {
	position: absolute;
	top: 52%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-width: 575px;
	text-align: center;
}

.angle-down {
	position: absolute;
	bottom: 0;
}

.angle-down a {
	color: white;
}


.post_category {
	margin: 0 auto;
}

.post_category {
	height: 28px;
	display: inline-block;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 14px;
	text-align: center;
}

.post_category a {
	display: block;
	line-height: 28px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	color: rgba(255, 255, 255, 1);
	text-transform: uppercase;
}

.post_category:hover {
	background: rgba(255, 255, 255, 1);
}

.post_category:hover a {
	color: rgba(0, 0, 0, 0.8);
}

.post_title_single {
	font-size: 30px;
	line-height: 1.2;
	color: #FFFFFF;
	font-weight: 600;
	margin-top: 19px;
}

.post_author {
	margin: 0 auto;
	margin-top: 17px;
}

.post_author .post_meta {
	margin: 0 20px;
	margin-top: 0;
}

.post_author .post_meta a,
.post_author .post_meta span {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.65);
}

.post_author .author_image div {
	width: 40px;
	height: 40px;
	border: solid 5px #FFFFFF;
	border-radius: 50%;
	overflow: hidden;
}


.post_meta {
	margin-left: 20px;
	margin-top: 0;
}

.post_meta a,
.post_meta span {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.65);
}

.post_panel {
	height: 108px;
	z-index: 10;
	margin-top: 40px;
}

.author_image div {
	width: 58px;
	height: 58px;
	border: solid 5px #FFFFFF;
	border-radius: 50%;
	overflow: hidden;
}

.author_image div img {
	max-width: 100%;
}

.post_panel .post_meta {
	font-family: 'Ubuntu', sans-serif;
	color: rgba(0, 0, 0, 0.25);
	font-size: 14px;
	font-weight: 500;
	margin-left: 20px;
	margin-top: 0;
}

.post_panel .post_meta a,
.post_panel .post_meta span {
	display: inline-block;
	position: relative;
	font-family: 'Ubuntu', sans-serif;
	color: rgba(0, 0, 0, 0.25);
	font-size: 14px;
	font-weight: 500;
}

.post_panel .post_meta span {
	margin-left: 10px;
	padding-left: 5px;
}

.post_panel .post_meta span::before {
	display: block;
	position: absolute;
	top: 1px;
	left: -4px;
	content: '•';
}

.post_share span {
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.2);
	letter-spacing: 0.075em;
	font-weight: 700;
	margin-right: 28px;
}

.post_share_list {
	display: inline-block;
}

.post_share_item {
	display: inline-block;
}

.post_share_item:not(:last-child) {
	margin-right: 15px;
}

.post_share_item a i {
	font-size: 14px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}


.fa-twitter {
	color: #1da1f2;
}

.fa-instagram {
	color: #c26d7a;
}

.fa-linkedin {
	color: #6fb9eb;
}

.fa-telegram {
	color: #0f95fc;
}

.post_share_item:hover a i {
	color: rgba(0, 0, 0, 0.2);
}

.post_body {
	height: 100%;
	padding-left: 69px;
	padding-top: 75px;
	padding-right: 68px;
	padding-bottom: 45px;
	background: #FFFFFF;
	border-radius: 10px;
}

.post_p {
	font-size: 16px;
	line-height: 1.875;
	color: black
}

.post_body figure {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 43px;
}

.post_body figure img {
	max-width: 100%;
}

.post_body figcaption {
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	font-style: italic;
	color: rgba(0, 0, 0, 0.3);
	text-align: center;
	margin-top: 8px;
}

.post_quote .post_p {
	font-weight: 600;
	font-size: 16px;
}

.post_quote_source {
	font-size: 16px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.5);
	margin-top: 21px;
}

.tags_share {
	margin-top: 40px;
}


.post_tag {
	display: inline-block;
	width: auto;
	height: 24px;
	border: solid 1px #d7d7d7;
	border-radius: 3px;
	background: transparent;
	margin-bottom: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.post_tag:not(:last-child) {
	margin-right: 6px;
}

.post_tag a {
	display: block;
	line-height: 22px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	color: rgba(0, 0, 0, 0.5);
	font-weight: 500;
}

.post_tag:hover {
	background: #ededed;
	border-color: #ededed;
}



/*********************************
Home Slider
*********************************/

.home_slider_container {
	width: 100%;
	height: 100%;
}


.home_slider_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

/*********************************
Main Content
*********************************/

.page_content {
	background: #f7f7f7;
}

.category {
	margin-top: 80px;
}

/*********************************
Section Panel
*********************************/

.section_panel {
	z-index: 10;
}

.section_title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #000000;
	padding-bottom: 10px;
	white-space: nowrap;
	-webkit-transform: translateY(3px);
	-moz-transform: translateY(3px);
	-ms-transform: translateY(3px);
	-o-transform: translateY(3px);
	transform: translateY(3px);
}

.category_title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #000000;
	padding-bottom: 10px;
	white-space: nowrap;
	-webkit-transform: translateY(3px);
	-moz-transform: translateY(3px);
	-ms-transform: translateY(3px);
	-o-transform: translateY(3px);
	transform: translateY(3px);
}

.section_tags ul li {
	display: inline-block;
	width: auto;
	height: 28px;
	background: #ededed;
	border-radius: 14px;
	text-align: center;
	padding-left: 22px;
	padding-right: 22px;
}

.section_tags ul li:not(:last-child) {
	margin-right: 4px;
}

.section_tags ul li a {
	display: block;
	line-height: 28px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	letter-spacing: 0.025em;
}

.section_tags ul li:hover,
.section_tags ul li.active {
	background: #FFFFFF;
}

.section_panel_more>ul {
	position: absolute;
	padding: 15px;
	background: #FFFFFF;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.section_panel_more:hover>ul {
	visibility: visible;
	opacity: 1;
}

.section_panel_more>ul li:not(:last-child) {
	margin-bottom: 10px;
}

.section_panel_more>ul li a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	letter-spacing: 0.025em;
	white-space: nowrap;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.section_panel_more>ul li a:hover {
	color: rgba(0, 0, 0, 0.8);
}

/*********************************
Side bar
*********************************/

.side_bar_single {
	height: 600px;
}

/*********************************
6.4 Post Comment
*********************************/

.post_comment {
	margin-top: 70px;
}

.post_comment_title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.8);
	font-weight: 700;
	text-align: center;
}

.post_comment_form_container {
	width: 100%;
	background: #FFFFFF;
	border-radius: 6px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
	padding-bottom: 40px;
	margin-top: 44px;
}

.comment_input {
	display: inline-block;
	width: calc(50% - 15px);
	height: 42px;
	border: none;
	outline: none;
	border-bottom: solid 1px #cccccc;
	background: transparent;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.comment_input:first-child {
	margin-right: 25px;
}

.comment_input:hover,
.comment_text:hover {
	border-color: rgba(0, 0, 0, 1);
}

.comment_text {
	width: 100%;
	height: 90px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: solid 1px #cccccc;
	padding-top: 11px;
	margin-top: 23px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.comment_input::-webkit-input-placeholder,
.comment_text::-webkit-input-placeholder {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0, 0, 0, 0.3);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.comment_input:-moz-placeholder,
.comment_text:-moz-placeholder {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0, 0, 0, 0.3);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.comment_input::-moz-placeholder,
.comment_text::-moz-placeholder {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0, 0, 0, 0.3);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.comment_input:-ms-input-placeholder,
.comment_text:-ms-input-placeholder {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0, 0, 0, 0.3);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.comment_input::input-placeholder,
.comment_text::input-placeholder {
	color: rgba(0, 0, 0, 1);
}

.comment_input:hover::-webkit-input-placeholder,
.comment_text:hover::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 1);
}

.comment_input:hover:-moz-placeholder,
.comment_text:hover:-moz-placeholder {
	color: rgba(0, 0, 0, 1);
}

.comment_input:hover::-moz-placeholder,
.comment_text:hover::-moz-placeholder {
	color: rgba(0, 0, 0, 1);
}

.comment_input:hover:-ms-input-placeholder,
.comment_text:hover:-ms-input-placeholder {
	color: rgba(0, 0, 0, 1);
}

.comment_input:hover::input-placeholder,
.comment_text:hover::input-placeholder {
	color: rgba(0, 0, 0, 1);
}

.comment_button {
	width: 143px;
	height: 36px;
	background: rgb(253, 238, 238);
	color: rgba(255, 118, 117, 1.0);
	border: none;
	outline: none;
	border-radius: 18px;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	margin-top: 24px;
}

.comment_button:hover {
	background: rgba(214, 48, 49, 1.0);
	color: #FFFFFF;
}

/*********************************
6.5 Comments
*********************************/

.comments {
	margin-top: 70px;
}

.comments_title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.8);
	text-align: center;
}

.comments_container {
	width: 100%;
	margin-top: 44px;
}

.comment_list>li {
	margin-bottom: 15px;
}

.comment {
	width: 100%;
	background: #FFFFFF;
	border-radius: 6px;
}

.comment_body {
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 30px;
	padding-right: 30px;
}

.comment_author_image {
	width: 34px;
	height: 34px;
	border-radius: 50%;
	overflow: hidden;
}

.comment_body .post_meta {
	margin-top: 0;
	margin-left: 18px;
}

.reply_button {
	width: 76px;
	height: 28px;
	background: rgb(253, 238, 238);
	color: rgba(255, 118, 117, 1.0);
	border: none;
	outline: none;
	border-radius: 18px;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.reply_button:hover {
	background: rgba(214, 48, 49, 1.0);
	color: #FFFFFF;
}

.comment_content {
	margin-top: 22px;
}

.comment ul li {
	border-top: solid 1px #e5e5e5;
}

/*********************************
Cards
*********************************/

.card {
	border: none;
	border-radius: 6px;
	margin-top: 15px;
	height: 460px;
}

.card-body {
	padding-top: 16px;
	padding-left: 25px;
	padding-bottom: 15px;
}

.card-img-top {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}


.post_meta {
	display: block;
	font-family: 'Ubuntu', sans-serif;
	color: rgba(0, 0, 0, 0.4);
	font-size: 12px;
	font-weight: 500;
	margin-top: 22px;
}

.post_meta a,
.post_meta span {
	display: inline-block;
	position: relative;
	font-family: 'Ubuntu', sans-serif;
	color: rgba(0, 0, 0, 0.4);
	font-size: 12px;
	font-weight: 500;
}

.post_meta span {
	margin-left: 10px;
	padding-left: 5px;
}

.post_meta span::before {
	display: block;
	position: absolute;
	top: 1px;
	left: -4px;
	content: '•';
}

.bold-tag {
	font-size: 1.1rem !important;
}

/*********************************
8. Load More Button
*********************************/

.load_more {
	margin-top: 50px;
	margin-bottom: 140px;
}

.load_more_button {
	width: 118px;
	height: 36px;
	background: transparent;
	border: solid 1px #d7d7d7;
	border-radius: 18px;
	margin: 0 auto;
	line-height: 32px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.load_more_button:hover {
	background: #d7d7d7;
}

/*********************************
Footer
*********************************/

.footer {
	width: 100%;
	background: #1f1f1f;
}

.persian .footer {
	text-align: right;
}

.footer_content {
	padding-top: 50px;
	text-align: center;
	padding-bottom: 17px;
}

.footer_logo a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #FFFFFF;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	line-height: 0.75;
}

.footer_social {
	margin-top: 34px;
}

.footer_social ul li {
	display: inline-block;
}

.footer_social ul li:not(:last-child) {
	margin-right: 21px;
}

.footer_social ul li i {
	color: #8f8f8f;
}

.footer_social_twitter:hover i {
	color: #55acee;
}

.footer_social_instagram:hover i {
	color: #c26d7a;
}

.copyright {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 500;
	margin-top: 40px;
}

.footer img {
	max-height: 80px;
	max-width: 100%;
}

.footer {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	vertical-align: top;
}

/* Footer left */


/* The company logo */

.footer h3 {
	color: #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer h3 span {
	color: #5383d3;
}

/* Footer links */

.footer .footer-links {
	color: #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer .footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
}

.footer .footer-company-name {
	color: #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */


.footer .footer-center i {
	background-color: #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}

.footer .footer-center p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin: 0;
}

.footer .footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}

.footer .footer-center p a {
	color: #5383d3;
	text-decoration: none;
}

/* Footer Right */


.footer .footer-company-about {
	line-height: 20px;
	color: #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer .footer-company-about span {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer .footer-icons {
	margin-top: 25px;
}

.footer .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

.track_your_wagon {
	border: 2px solid #a30516;
	color: #a30516;
}

.track_your_wagon button {
	background: #d44444;
	box-shadow: 0 3px 26px 0 rgba(254, 93, 93, .4);
	outline: none;
	border: none;
	padding: 15px 30px;
	border-radius: 500px;
	color: #FFF;
}

.track_your_wagon a {
	margin-right: auto;
}

.track_your_wagon button:hover,
.track_your_wagon button:focus,
.track_your_wagon button:active {
	cursor: pointer;
	box-shadow: 0 3px 26px 0 rgba(254, 93, 93, .7);
}

.post_body img {
	max-width: 100%;
	height: auto
}