@charset "utf-8";


@media only screen and (max-width: 1199px) {

	.section_tags {
		padding-right: 75px;
	}

	.section_tags ul li {
		display: none;
	}

	.section_tags ul li:nth-child(-n+4) {
		display: inline-block !important;
	}

	.section_tags ul li {
		display: none;
	}

}


@media only screen and (max-width: 991px) {

	.main_nav {
		display: none;
	}

	.search_container {
		display: none;
	}

	.hamburger {
		display: block;
	}

	.sidebar {
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 100px;
	}


	.side_bar_single {
		display: none !important;
	}

	.footer .footer-left,
	.footer .footer-center,
	.footer .footer-right {
		padding: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		vertical-align: top;
	}

	.footer .footer-center div {
		width: 270px;
	}
}

@media only screen and (max-width: 768px) {
	.section_tags ul li {
		display: none;
	}


	.section_tags ul li:nth-child(-n+4) {
		display: none !important;
	}

	.section_tags ul li:nth-child(-n+3) {
		display: inline-block !important;
	}
}


@media only screen and (max-width: 768px) {

	.section_tags {
		display: none;
	}

}


@media only screen and (max-width: 575px) {
	p {
		font-size: 12px;
	}

	.menu {
		width: 100%;
		right: -100%;
		padding-right: 15px;
		padding-left: 30px;
		padding-top: 61px;
	}

	.menu_close_container {
		right: 13px;
		top: 15px;
	}

	.menu .logo {
		margin-bottom: 20px;
	}

	.menu .search {
		margin-bottom: 29px;
	}

	.header.scrolled .header_content {
		height: 60px;
	}

	.card-body {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media only screen and (max-width: 425px) {
	.section_panel {
		display: none !important;
	}

	.card-body-title {
		font-size: 21px;
	}
}